<div class="content_box" id="mosaic">	
  <div class="top"></div>
  <div class="middle">
    <div class="content">
  	  <h2>RethinkWHS.org</h2>
        <h1><span>Discovering the most</h1>
        <h1 class="down"><span>beautiful places in the world</span></h1>

        <div id="big_image">
            <% if @random_features[0].gallery && @random_features[0].gallery.gallery_entries.any? %>  
              <%= image_tag @random_features[0].gallery.gallery_entries.first.image.thumbnail(:large).url, :alt => @random_features[0].title %>            
            <% else %>
              <img src="/images/test/test_big.jpg">
            <% end %>
        </div>
        
        <ul id="image_list">
        <% @random_features[1..6].each do |feature|%>
        <li class="mosaic_element<%= cycle('',' middle','', :name => 'mosaic') %>">
          <a href="/features/<%=feature.id%>">
          <div class="mosaic_element_div">
            
            <% if feature.gallery && feature.gallery.gallery_entries.any? %>  
              <%= image_tag feature.gallery.gallery_entries.first.image.thumbnail(:small).url, :alt => feature.title %>            
            <% else %>
              <img src="/images/test/test_small.jpg">
            <% end %>
            
            <div class="mosaic_label">
              <p class="place"><%=feature.title%></p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
          </a>
        </li>
        <li class="separator<%= cycle('','',' horizontal', :name => 'separator') %>"></li>
        <% end %>
        </ul>
        
        <!--
        <ul id="image_list">
          <li class="separator horizontal"></li>          
          <li class="mosaic_element">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
              <div class="mosaic_label">
                <p class="place">Acrópolis</p>
                <p class="distance">4 hours by car from Madrid</p>
              </div>
            </div>
          </li>
          <li class="separator"></li>
          <li class="mosaic_element middle">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
              <div class="mosaic_label">
                <p class="place">Acrópolis</p>
                <p class="distance">4 hours by car from Madrid</p>
              </div>
            </div>
          </li>
          <li class="separator"></li>          
          <li class="mosaic_element">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
              <div class="mosaic_label">
                <p class="place">Yosemite National Park</p>
                <p class="distance">4 hours by car from Madrid</p>
              </div>
            </div>
          </li>
          <li class="separator horizontal"></li>
          <li class="mosaic_element">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
              <div class="mosaic_label">
                <p class="place">Yosemite National Park</p>
                <p class="distance">4 hours by car from Madrid</p>
              </div>
            </div>
          </li>
          <li class="separator"></li>
          <li class="mosaic_element middle">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
              <div class="mosaic_label">
                <p class="place">Acrópolis</p>
                <p class="distance">4 hours by car from Madrid</p>
              </div>
            </div>
          </li>
          <li class="separator"></li>          
          <li class="mosaic_element">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
              <div class="mosaic_label">
                <p class="place">Yosemite National Park</p>
                <p class="distance">4 hours by car from Madrid</p>
              </div>
            </div>
          </li>
          <li class="separator horizontal"></li>                              
        </ul>-->
      </div>
  </div>
  <div class="bottom"></div>

  
  
</div>

<div class="content_box" id="more_sites">	
  <div class="top"></div>
  <div class="middle">
    <div class="content">
    <h2>Browse more sites around you</h2>
      <ul>
        <% @random_features.each do |feature|%>        
        <li <%= cycle('','','class=\'last\'', :name => 'classname') %> >
		      <a href="/features/<%=feature.id%>"><%=feature.title%></a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <% end %>
	    </ul>
    </div>

    <div class="footer">
	      <a class="bottom_link" href="/features/">Or explore the world map</a>
    </div>
  </div>
  <div class="bottom"></div>
</div>