<% content_for :body_content_title do %>



  <%= @feature.meta.keys %>

<% end %>

<% content_for :body_content_left do %>

  <div>
    <h3>Title</h3>
    <%=raw @feature.title %>
    
    <%=@feature.official_url %>    
    
  </div>

  <div>
    <h3>Description</h3>
    <%=raw @feature.description %>
  </div>

  <div>
    <h3>Gallery</h3>
    <%=raw @feature.gallery_id %>
  </div>

  <!-- The Geom -->

<% end %>

<%= render :partial => "/shared/content_page" %>
