<div class="content_box" id="feature">	
  <div class="top"></div>
  <div class="middle">
    <div id="feature_image">
      <ul class="image_selector">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
      <div id="feature_title">
        <p id="country"><img class="flag" src="/images/test/test_flag.png"/><%= @feature.country %></p>
        <h1><%= @feature.title %></h2>
        <p id="distance">Just 13 hours away from Madrid by plane</p>
      </div>
      <img src="/images/test/test_big.jpg">
      <div id="endangered"></div>
    </div>
      <div class="content">
        <div id="main_area">
          <p><%= @feature.description %></p>
        </div>
        <div id="data_column">
          <div id="map_container"></div>
          <p class="label" id="first">Date of inscription</p>
          <p class="value"><%= @feature.designation_date %></p>

          <% unless @feature.designation_criteria.blank? %>
          <span class="line"></span>
          <p class="label">Why it is a World Heritage Site</p>
          <% @feature.designation_criteria.gsub!("(","").split(")").each do |criteria|%>
          <ul>            
            <li><%= criteria %></li>
          </ul>
          <% end %>
          <% end %>
          
          <% unless @feature.size.blank? %>
          <span class="line"></span>
          <p class="label">Size</p>

          <% %>
          
          <p class="value"><%="%.2f" % @feature.size.gsub!("Ha","") %> Ha</p>
          <% end %>
          
          <span class="line"></span>
          <p class="label">External links</p>
          <ul>
            <li><a href="<%=@feature.official_url%>">Official Unesco WHS Site</a></li>            
          </ul>
        </div>

        <div id="clear"></div>
      </div>
  <div class="bottom"></div>
</div>

<div class="content_box" id="feature_mosaic">	
  <div class="top"></div>
  <div class="middle">
    <div class="content">
      <ul id="image_list">
          <li class="mosaic_element">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
            </div>
          </li>
          <li class="separator"></li>
          <li class="mosaic_element middle">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
            </div>
          </li>
          <li class="separator"></li>          
          <li class="mosaic_element">
            <div class="mosaic_element_div">
              <img src="/images/test/test_small.jpg">
            </div>
          </li>
      </ul>
    </div>
  </div>
  <div class="bottom"></div>
</div>

<div class="content_box" id="teleport">	
  <div class="top"></div>
  <div class="middle">
    <div class="content">
      <div id="message">Or would you rather be randomly teleported to a new beautiful site?</div>
      <a class="teleport" id="green" href="/features/<%=rand(900)%>">"Bean me up, Scotty!"</a>
    </div>
  </div>
  <div class="bottom"></div>
</div>
